# Don't include modules in the repository!
node_modules

app/public/seoulmix.js

# or e-mail settings
app/server/modules/email-settings.js

# or constants
app/server/modules/constants.js

# Sublime project/workspace
seoulmix.sublime-*

# Log files
# *.log
