# Don't include modules in the repository!
node_modules

# or e-mail settings
app/server/modules/email-settings.js

# or uploads
uploads
app/public/img/*

# Sublime project/workspace
seoulmix.sublime-*
