extends layout-out

block content
    #map_canvas(style='width: 100%; height: 100%;')
    .banner-main
      a.banner-logo(href='')
        p SeoulMix
      .login-container
        form#login_form(method="post")
          fieldset(name="user-login")
            input#login_username.login-username(required='required', pattern='.{4,30}', title='4 character minimum', type='text', name='login-username', placeholder='username', tabindex="1")
            label.remember-me
              | Remember
              input#remember_me(type='checkbox')
            br
            input#login_password.login-password(required='required', pattern='.{6,}', title='6 character minimum', type='password', name='login-password', placeholder='password', autocomplete='off', tabindex="2")
            input#login_submit.btn.btn-small.login-submit(type='submit', value='Login')
            a#lost_password.lost-password(data-toggle='modal', href='#lostpass_modal') Lost User/Pass?
      .registration-container
        p.new-signup-text
          b New?
        a#register_btn.btn.register-btn(data-toggle='modal', href='#registration_modal') Sign Up

    include popups/introduction
    include modals/login-error
    include modals/lost-password
    include modals/registration-form