extends layout-in

block content
    #map_canvas(style='width: 100%; height: 100%;')
    #banner_main
      a#banner_logo(href='') SeoulMix
      span.divider
      #banner_welcome
        - if (userdata.firstname)
          h3#banner_welcome_title Hello, #{userdata.firstname}!
        - else
          h3#banner_welcome_title Hello, #{userdata.user}!
        p#banner_welcome_text Welcome to SeoulMix! Get started by adding details to your profile or creating a new event.
      .main-button-container
        button#create_event(data-toggle="modal", href="#create_event_modal").btn.banner-btn
            | Create Event
        button#view_profile(data-toggle="modal", href="#profile_modal").btn.banner-btn
            | Profile Settings

    include modals/profile
    include modals/delete-account
    include modals/create-event

block scripts
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1ZYoDAzhL0uivXehR0_5tDLpCcLOaqQ&sensor=false')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src="vendor/jquery.form.js")
    script(src='vendor/bootstrap.min.js')
    script(src="js/front.js")
    script(src="js/views/homeView.js")
    script(src="js/controllers/homeController.js")
    script(src="js/form-validators/eventValidator.js")
    script(src="js/form-validators/updateProfileValidator.js")
    script(src="js/form-validators/deleteValidator.js")