extends layout

block content
    #map_canvas(style='width: 100%; height: 100%;')
    #banner_main.banner-main
      a.banner-logo(href='') SeoulMix
      span.divider
      .banner-welcome
        - if (user.firstname)
          h3.banner-welcome-title Hello, #{user.firstname}!
        - else
          h3.banner-welcome-title Hello, #{user.user}!
        p.banner-welcome-text Welcome to SeoulMix! Get started by adding details to your profile or creating a new event.
      .main-button-container
        button#create_event(data-toggle="modal", href="#create_event_modal").btn.banner-btn.create-event
            | Create Event
        button#view_profile(data-toggle="modal", href="#profile_modal").btn.banner-btn.view-profile
            | Profile Settings
    input#user_id(type="hidden", value= user.user)

    include modals/profile
    include modals/delete-account
    include modals/create-event
    include popups/location-finder