!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title SeoulMix
		link(rel='stylesheet', href='vendor/bootstrap.min.css')
		link(rel='stylesheet', href='css/main.css')
	body
        
        
	block content
	block scripts