!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title SeoulMix
        link(rel='stylesheet', href='vendor/bootstrap.min.css')
        link(rel='stylesheet', href='css/main.css')
    body
        #navbar_main.navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a#nav_logo(href="/").brand SM
                    ul#language_dropdown.nav.pull-right.language-dropdown
                        li.dropdown
                            a(href="#", data-toggle="dropdown").dropdown-toggle.dropdown-title Language/언어
                                b#caret.caret
                            ul.dropdown-menu
                                li
                                    a English
                                li
                                    a 한국어
                    button#navbar_logout.btn-small.btn-primary
                        i.icon-lock.icon-white
                        | Sign out
                    form#navbar_search(method="post").navbar-search.pull-right
                        input#event_search(type="text", placeholder=" search events").event-search
                        span.search-icon
                            i.icon-search

    block content
    block scripts