!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        title SeoulMix
        link(rel='stylesheet', href='vendor/bootstrap.min.css')
        link(rel='stylesheet', href='css/main.css')
    body
        #navbar_main.navbar.navbar-fixed-top
            .navbar-inner
                .container
                    ul.nav
                        a#nav_logo(href="/").brand SM
                    ul#language_dropdown.nav.pull-right.language-dropdown
                        li.dropdown
                            a(href="#", data-toggle="dropdown").dropdown-toggle.dropdown-title Language/언어 
                                b#caret.caret
                            ul.dropdown-menu
                                li
                                    a English
                                li
                                    a 한국어
        
    block content
    block scripts