!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        title SeoulMix
        link(rel="stylesheet", href="/seoulmix.css")
    body
        .navbar-main.navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.nav-logo(href="/").brand SM
                    ul.language-dropdown.nav.pull-right.language-dropdown
                        li.dropdown
                            a(href="#", data-toggle="dropdown").dropdown-toggle.dropdown-title Language/언어
                                b.caret
                            ul.dropdown-menu
                                li
                                    a English
                                li
                                    a 한국어
                    button#navbar_logout.btn-small.btn-primary.navbar-logout
                        i.icon-lock.icon-white
                        | Sign out
                    form#navbar_search(method="post").navbar-search.pull-right
                        input#event_search(type="text", placeholder=" search events").event-search
                        span.search-icon
                            i.icon-search

    block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1ZYoDAzhL0uivXehR0_5tDLpCcLOaqQ&sensor=false")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js")
    script(src="/seoulmix.min.js")