!!! 5
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0, user-scalable=no")
        title SeoulMix
        link(rel="stylesheet", href="/seoulmix.css")
    body.seoulmix
        .navbar-main.navbar.navbar-fixed-top
            .navbar-inner
                .container
                    a.nav-logo(href="/").brand SM
                    ul.language-dropdown.nav.pull-right.language-dropdown
                        li.dropdown
                            a(href="#", data-toggle="dropdown").dropdown-toggle.dropdown-title Language/언어
                                b.caret
                            ul.dropdown-menu
                                li
                                    a English
                                li
                                    a 한국어

    block content
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1ZYoDAzhL0uivXehR0_5tDLpCcLOaqQ&sensor=false")
    script(src="/socket.io/socket.io.js")
    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js")
    script(src="/seoulmix.min.js")
