extends layout-out

block content
    #map_canvas(style='width: 100%; height: 100%;')
    #newpass_main
        form#newpass_form(method="post")
            fieldset(name="reset-password")
                input#new_password(required="required", type="password", title="6 character minimum", name="new-password", placeholder="password", tabindex="1")
                input#new_password_confirm(required="required", type="password", title="Must be the same as the field above", name="new-password-confirm", placeholder="confirm password", tabindex="2")
                input#newpass_submit(type="submit", value="Submit").btn.btn-primary
                #newpass_error.alert.alert-error.hide
    
block scripts
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAG1ZYoDAzhL0uivXehR0_5tDLpCcLOaqQ&sensor=false')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js')
    script(src="vendor/jquery.form.js")
    script(src='vendor/bootstrap.js')
    script(src="js/front.js")
    script(src="js/views/resetView.js")
    script(src="js/form-validators/resetValidator.js")