#intro_popup
  h3.title Welcome to SeoulMix!
  p.content
    | In a city of over 10 million people, meeting new people has never been easier.
    | Find fellow <b class="seoulites">Seoulites</b> to do & share with, or open your own event for others.