#location_finder_popup
	input#address.address(type="text", placeholder="Address")
	.buttons
		span.badge.badge-important
		button#find_address.btn Find
		button#accept_address.btn.btn-success.use-address Use Address
		button#cancel_finder.btn.btn-danger.cancel-finder Cancel Find
		.movable-info
			.help Help!
			span.info Move me!
			i.icon-move.icon-white