#create_event_modal.modal.hide.fade
    .modal-header Create New Event
        button.close(data-dismiss='modal') x
    .modal-content
        form#new_event_form(method="post")
            fieldset(name="event-creation")
                input#event_name.event-name(required="required", type="text", title="Event name", name="event-name", placeholder="event name")
                textarea#event_description.event-description(title="Event description", name="event-description", placeholder="event description")
                input#event_submit.event-submit(type="submit", value="Create Event!")