#create_event_modal.modal.hide.fade
	.modal-header New Event
		button.close(data-dismiss='modal') x
	form#new_event_form.form-horizontal.create-event-form(method="post")
		fieldset(name="event-creation")
			.modal-content
				.control-group
					label.name.control-label
						| Event Name
					.controls
						input#event_name.event-name(required="required", type="text", title="Event name", name="event-name", placeholder="event name")
						p.event-name-comment.text-error
				.control-group
					label.description.control-label
						| Event Description
					.controls
						textarea#event_description.event-description(title="Event description", name="event-description", placeholder="event description")
						p.event-description-comment.text-error
				.location-control-group.control-group
					label.location.control-label
						| Location
					.controls
						input#event_location.event-location(required="required", type="text", title="Event location", name="event-location", placeholder="event location")
						p.or-divider - or -
						.button-container
							button.btn#find_location Find on map
						p.event-location-comment.text-error
				.time-control-group.control-group
					label.time.control-label
						| Time
					.controls
						.from
							span.from-label From:
							.inputs
								input#from_date.from-date(type="text")
								input#from_time.from-time(type="text")
						.to
							span.to-label To:
							.inputs
								input#to_date.to-date(type="text")
								input#to_time.to-time(type="text")
				.event-alert.alert.alert-success.hide.fade.in
					button.close &times;
					p.event-submit-comment
			.modal-footer
				input#event_submit.btn.btn-primary.event-submit(type="submit", value="Create Event!")