#lostpass_modal.modal.hide.fade
    div.modal-header
        button.close(data-dismiss="modal") x
        h3 Retrieve Password
    form(method="post")#lostpass_form
        fieldset(name="lostpass")
            div.modal-body
                div.main-form.well.span5
                    p Please enter the e-mail address associated with your account
                    input#lostpass_email(type="email", name="lostpass-email", required="required").span5
                    div.alert.alert-error.hide
            div.modal-footer
                button#lostpass_cancel(data-dismiss="modal").btn Cancel
                input#lostpass_submit(type="submit", value="Submit").btn.btn-primary}