#lostpass_modal.modal.hide.fade
    .modal-header
        button.close(data-dismiss="modal") x
        h3 Retrieve Password
    form#lostpass_form(method="post")
        fieldset(name="lostpass")
            .modal-content
                .main-form.well.span5
                    p Please enter the e-mail address associated with your account
                    input#lostpass_email(type="email", name="lostpass-email", required="required").span5
                    #lostpass_error.alert.alert-error.hide
            .modal-footer
                input#lostpass_submit(type="submit", value="Submit").btn.btn-primary
                button#lostpass_cancel(data-dismiss="modal").btn Cancel