#lostpass_modal.modal.hide.fade
    .modal-header
        button.close(data-dismiss="modal") x
        h3 Retrieve Password
    form#lostpass_form.lostpass-form(method="post")
        fieldset(name="lostpass")
            .modal-content
                .main-form.well.span5
                    p Please enter the e-mail address associated with your account
                    input#lostpass_email.span5(type="email", name="lostpass-email", required="required")
                    #lostpass_error.lostpass-error.alert.alert-error.hide
            .modal-footer
                input#lostpass_submit.btn.btn-primary.lostpass-submit(type="submit", value="Submit")
                button#lostpass_cancel.btn.lostpass-cancel(data-dismiss="modal") Cancel